{% extends 'pseudocompany/maintemplate.html' %}

{% load static %}

{% block content %}
   <div class="jumbotron first text-center" style="padding-top: 200px; background-color: white;">
   	      <div class="container">
		  <p> <div class="gbd"> WHAT WE DO</div>
		  	    <br>
			  	<b><h1>Delivering World Class Results</h1></b>
			  	We thrive at the intersection of brand and corporate reputation, connecting people with brands and solving today’s business challenges for our clients.
		    <br>
		    <br>
		    <br>
		    <a href="#"><span class="glyphicon glyphicon-circle-arrow-right" style="color:green"></span></a> &nbsp;Learn More
		  </p>
		  </div>


  </div>
<div class="container-fluid " style="background-color: LightGrey">

	  <div class="row">

		    <div class="col-sm-6" style="padding-left: 60px; padding-top: 100px;">

			      <h4 class="gbd">Culture</h4>
			      <h1>Where Careers Are Built and Lives Are Lived</h1>
			      <br>
			      Our values are at the heart of all we do. We strive to give our teams the resources and space to grow both in and out of the office.
			      <br>
			      <br>
			       <a href="#"><span class="glyphicon glyphicon-circle-arrow-right" style="color:green"></span></a> &nbsp;Learn More

			</div>

			 <div class="col-sm-6">
			      <img src="{% static 'images/culture.jpg'%}" class="img-responsive">
			</div>
		  </div>
 </div>

<style>





   html {
  scroll-behavior: smooth;
}

    .first
    {   border-style: hidden;
    	padding-left: 50px;
    	background-color: white;
    	color: black;
    }
    .gbd {
     border-left-style: solid;
     border-color: green;
     padding-left: 20px;
     }

  	body
  	{ font-family: Arial, sans-serif;
  	}






 </style>
 {% endblock %}
