{% extends 'pseudocompany/maintemplate.html' %}

{% load static %}
{% block content %}
<div class="jumbotron x " style="position: relative; padding-top: 500px;">

<div class="container-fluid w3-animate-bottom">
<h1>Fearless pursuit of the <br> <div style="color:green">Unexpected</div> </h1>
<p>We are data-driven storytellers, delivering real business impact.</p>
</div>
</div>

<div class="container-fluid" id="slide" >

 <div class="jumbotron first">
        <div class="container">
 <div class="gbd"> WHO WE ARE</div>
          <br>
        <b><h1>A global, integrated communications agency, born from PR.</h1></b>
        We thrive at the intersection of brand and corporate reputation, connecting people with brands and solving today’s business challenges for our clients.
      <br>
      <br>
      <br>
      <a href="#"><span class="glyphicon glyphicon-circle-arrow-right" style="color:green"></span></a> &nbsp;Learn More

    </div>


</div>


<div class="jumbotron " id="slide2">
  <h1> This Just In </h1>
  <div class="row">
    <div class="col-sm-6">
        <div class="container-responsive">
          <img src="{% static 'images/table2.jpg' %}" class="img-responsive" style="width: 100%">
          <div class="w3-animate-bottom">

          <br>
          INSIGHTS
          <br>
          <h2 class="gbd">
          COVID-19: Activating Influencers in our Current Climate
          </h2>
          <br>
          <br>
          March quickly became a time filled with uncertainty and confusion. The progression of the COVID-19 pandemic seemed to happen rapidly and without warning (despite the U.S. watching the situation unfold overseas for months), and that left the American public in an unprecedented state. The trickle effect to brands and marketers has caused many companies to quickly press pause on all proactive efforts.

        </div>
        </div>
     </div>
    <div class="col-sm-6">
          <div class="container-responsive">
            <img src="{% static 'images/table.jpg' %}" class="img-responsive" style="width: 100%">

          <br>
          INSIGHTS
          <br>

          <h2 class="gbd">
           Classic Crisis Lessons for Today’s Pandemic Playbook
          </h2>

          <br>
          <br>
          March quickly became a time filled with uncertainty and confusion. The progression of the COVID-19 pandemic seemed to happen rapidly and without warning (despite the U.S. watching the situation unfold overseas for months), and that left the American public in an unprecedented state. The trickle effect to brands and marketers has caused many companies to quickly press pause on all proactive efforts.

          </div>
      </div>

  </div>

</div>

<div class="jumbotron first" id="slide3">
    <div class="container">
 <div class="gbd"> WHO WE DO</div>
          <br>
        <b><h1>We give clients the courage to push the boundaries of what imaginative thinking can achieve.</h1></b>
      <br>
      <br>
      <br>
      <a href="#"><span class="glyphicon glyphicon-circle-arrow-right" style="color:green"></span></a> &nbsp;Learn More



       </div>
</div>

<img src="{% static 'images/12reasonswhy.JPG' %}" class="img-responsive">
<br>
<div class="container-fluid culture">

  <div class="row">

      <div class="col-sm-6" style="padding-left: 60px; padding-top: 100px;">

          <h4 class="gbd">Culture</h4>
          <h1>Where Careers Are Built and Lives Are Lived</h1>
          <br>
          Our values are at the heart of all we do. We strive to give our teams the resources and space to grow both in and out of the office.
          <br>
          <br>
           <a href="#"><span class="glyphicon glyphicon-circle-arrow-right" style="color:green"></span></a> &nbsp;Learn More

    </div>

     <div class="col-sm-6">
          <img src="{static 'images/culture.JPG'}" class="img-responsive">
    </div>
    </div>
</div>


<div class="container-fluid result">

  <div class="row">

      <div class="col-sm-6" style="padding-left: 60px; padding-top: 100px; height: 500px;">

          <h1 class="gbd"> Work That Delivers Results</h1>

    </div>

     <div class="col-sm-6" style="padding-left: 60px; padding-top: 100px;">
         <h2> We develop creative solutions for the world’s biggest and best-known companies and brands.</h2>

    </div>

    </div>
</div>

<div class="jumbotron">
<div class="row">

      <div class="col-sm-6" style="padding-left: 60px; padding-top: 100px;">

         <img src="{% static 'images/table.jpg' %}" class="img-responsive ">

                <div class="caption">
                  Turtle wax gaming
                <br>
                <h1> TURTLE WAX </h1>
                </div>

    </div>

     <div class="col-sm-6" style="padding-left: 60px; padding-top: 100px;">

         <img src="{% static 'images/table.jpg' %}" class="img-responsive ">

                <div class="caption">
                  Turtle wax gaming
                <br>
                <h1> TURTLE WAX </h1>
                </div>



    </div>
</div>
 <div class="row">

      <div class="col-sm-6" style="padding-left: 60px; padding-top: 100px;;">


         <img src="{% static 'images/table.jpg' %}" class="img-responsive ">

                <div class="caption">
                  Turtle wax gaming
                <br>
                <h1> TURTLE WAX </h1>
                </div>



    </div>

     <div class="col-sm-6" style="padding-left: 60px; padding-top: 100px;">

         <img src="{% static 'images/table.jpg' %}" class="img-responsive ">

                <div class="caption">
                  Turtle wax gaming
                <br>
                <h1> TURTLE WAX </h1>
                </div>


    </div>

    <div style="text-align: center;">  <h4 style="text-decoration: underline;text-decoration-color: green; text-decoration-style: solid;"> SEE WHAT WE DO</h4> </div>
</div>
<div class="jumbotron" style="height: 200px;">



</div>

</div>

</div>

<div class="jumbotron">
  <div class="container-fluid">
        <img src="{% static 'images/join.JPG' %}" style="float: right; position: relative;">

  <div class="gbd"><h5>Careers</h5></div>
  <div style="height: 300px;">
  <h1>Join our team !</h1> </div>


<div style="background-color: black;color:white; height: 500px; ">
  <div  style="padding-left: 20px;"><br> <h1 class="gbd" >Interested in working with us?</h1>
      <a href="#"><span class="glyphicon glyphicon-circle-arrow-right" style="color:green"></span></a> &nbsp;Learn More

  </div>
  <div style="height: 200px">
  </div>
      <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#about">ABOUT</a></li>
      <li><a href="#services">SERVICES</a></li>
      <li><a href="#portfolio">PORTFOLIO</a></li>
      <li><a href="#pricing">PRICING</a></li>
      <li><a href="#contact">CONTACT</a></li>
    </ul>
  </div>

</div>
</div>
  </div>





<style>

#slide{transition: 0.1s;}
.result{background-color: black;
color: white;


}

.culture
{
  background-color: LightGray;


}
 html {
scroll-behavior: smooth;
}

  .first
  {   border-style: hidden;
    padding-left: 50px;
    background-color: white;
    color: black;
  }
  .gbd {
   border-left-style: solid;
   border-color: green;
   padding-left: 20px;
   }

  body
  { font-family: Arial, sans-serif;
  }



  .x
  {color: white;
  background-image: url("{%static 'images/tech.jpeg'%}");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;



  }



</style>

{% endblock %}
