{% extends 'pseudocompany/maintemplate.html' %}

{% load static %}

{% block content %}





   <div class="jumbotron first text-center" style="padding-top: 200px; background-color: white;">
   	      <div class="container">
		  <p> <div class="gbd"> SERVICES </div>
		  	    <br>
			  	<b><h1>We live for the story</h1></b>
			  	We thrive at the intersection of brand and corporate reputation, connecting people with brands and solving today’s business challenges for our clients.
		    <br>
		    <br>
		    <br>
		    <a href="#"><span class="glyphicon glyphicon-circle-arrow-right" style="color:green"></span></a> &nbsp;Learn More
		  </p>
		  </div>


  </div>

<style>



   html {
  scroll-behavior: smooth;
}


    .gbd {
     border-left-style: solid;
     border-color: green;
     padding-left: 20px;
     }

  	body
  	{ font-family: Arial, sans-serif;
  	}






 </style>

{% endblock %}
