{% extends 'pseudocompany/maintemplate.html' %}
{% load static %}

{% block content %}

   <div class="jumbotron first text-center" style="padding-top: 200px; background-color: white;">
   	      <div class="container">
		  <p> <div class="gbd"> WHAT WE DO</div>
		  	    <br>
			  	<b><h1>Delivering World Class Results</h1></b>
			  	We thrive at the intersection of brand and corporate reputation, connecting people with brands and solving today’s business challenges for our clients.
		    <br>
		    <br>
		    <br>
		    <a href="#"><span class="glyphicon glyphicon-circle-arrow-right" style="color:green"></span></a> &nbsp;Learn More
		  </p>
		  </div>


  </div>

    <div class="jumbotron" id="slide">
  <div class="row">

		    <div class="col-sm-6" style="padding-left: 60px; padding-top: 100px;">

			     <img src="{% static 'images/table.jpg'%}" class="img-responsive ">

                  <div class="caption">
                  	Turtle wax gaming
                  <br>
                  <h1> TURTLE WAX </h1>
                  </div>

			</div>

			 <div class="col-sm-6" style="padding-left: 60px; padding-top: 100px;">

			     <img src="{% static 'images/table.jpg'%}" class="img-responsive ">

                  <div class="caption">
                  	Turtle wax gaming
                  <br>
                  <h1> TURTLE WAX </h1>
                  </div>



			</div>
	</div>
   <div class="row">

		    <div class="col-sm-6" style="padding-left: 60px; padding-top: 100px;;">


			     <img src="{% static 'images/table.jpg'%}" class="img-responsive ">

                  <div class="caption">
                  	Turtle wax gaming
                  <br>
                  <h1> TURTLE WAX </h1>
                  </div>



			</div>

			 <div class="col-sm-6" style="padding-left: 60px; padding-top: 100px;">

			     <img src="{% static 'images/table.jpg'%}" class="img-responsive ">

                  <div class="caption">
                  	Turtle wax gaming
                  <br>
                  <h1> TURTLE WAX </h1>
                  </div>


			</div>






</div>

</div>
<style>




   html {
  scroll-behavior: smooth;
}


    .gbd {
     border-left-style: solid;
     border-color: green;
     padding-left: 20px;
     }

  	body
  	{ font-family: Arial, sans-serif;
  	}







 </style>
{% endblock %}
